* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
}
.container .questionContainer {
  margin-top: 5rem;
  width: 40rem;
  height: 27rem;
  display: flex;
  max-width: 35rem;
  align-items: center;
  border-radius: 1.5rem;
  flex-direction: column;
  border: 0.01rem solid black;
  background-color: blanchedalmond;
  padding: 0.8rem 1.5rem 1.5rem 1.5rem;
  background: linear-gradient(to right bottom, rgb(114, 164, 205), rgb(81, 72, 153));
}
.container .questionContainer h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}
.container .questionContainer h3 {
  width: 33rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  border-radius: 1.1rem;
  background-color: white;
  border: 0.01rem solid black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container .questionContainer ul {
  padding: 0;
  list-style-type: none;
}
.container .questionContainer ul li {
  width: 28rem;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.3rem;
  position: relative;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  background-color: black;
  border: 0.01rem solid black;
  transition: 0.2s ease;
}
.container .questionContainer ul li:hover {
  color: white;
  background-color: rgb(39, 150, 39);
}
.container .resultContainer {
  padding: 1rem;
  border-radius: 1rem;
  margin: 1.5rem 0 5rem 0;
  border: 0.1rem solid black;
  background: linear-gradient(to bottom, rgba(23, 104, 9, 0.81), rgb(182, 182, 182), rgba(11, 58, 3, 0.81));
}
.container .resultContainer h1, .container .resultContainer h3 {
  text-decoration: underline;
}
.container .resultContainer h3 {
  font-size: 1.3rem;
}
.container .resultContainer .userAnswerContainer {
  width: 24rem;
  padding: 1.8rem;
  margin: 1rem 0;
  font-size: 1.3rem;
  border-radius: 1rem;
  background-color: white;
  color: rgb(16, 105, 16);
  border: 0.01rem solid black;
}
.container .resultContainer .userAnswerContainer .correct, .container .resultContainer .userAnswerContainer .incorrect {
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.2s ease;
  border: 0.01rem solid black;
}
.container .resultContainer .userAnswerContainer .correct::marker, .container .resultContainer .userAnswerContainer .incorrect::marker {
  color: black;
}
.container .resultContainer .userAnswerContainer .correct:hover, .container .resultContainer .userAnswerContainer .incorrect:hover {
  cursor: pointer;
  background-color: white;
}
.container .resultContainer .correct {
  background-color: green;
}
.container .resultContainer .correct:hover {
  color: green;
}
.container .resultContainer .incorrect {
  background-color: red;
}
.container .resultContainer .incorrect:hover {
  color: red;
}
.container .resultContainer p {
  color: blue;
  margin: 1rem 0;
  font-size: 2rem;
}
.container .resultContainer button {
  padding: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  transition: 0.2s ease;
  background-color: black;
}
.container .resultContainer button:hover {
  color: black;
  background-color: white;
}
.container .resultContainer .correctAnswer {
  color: green;
}
.container .resultContainer .incorrectAnswer {
  background-color: red;
}
.container form {
  padding: 4rem;
  margin-top: 7rem;
  border-radius: 2rem;
  border: 0.01rem solid black;
  background: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(170, 57, 57), rgb(0, 0, 0));
}
.container form input {
  width: 15rem;
  display: block;
  padding: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 0.8rem;
  margin-bottom: 0.8rem;
}
.container form input::-moz-placeholder {
  font-size: 1.2rem;
}
.container form input::placeholder {
  font-size: 1.2rem;
}
.container form .submitBtn {
  color: white;
  padding: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 0.6rem;
  background-color: rgb(7, 107, 7);
}
.container form .submitBtn:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}
.container .highestScoreContainer {
  margin: auto;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  background-color: white;
  border: 0.01rem solid black;
  width: 20rem;
}
.container .highestScoreContainer h2 {
  margin-bottom: 0.5rem;
  color: blue;
}
.container .highestScoreContainer ol {
  cursor: pointer;
  list-style: none;
  border-radius: 0.8rem;
  background-color: white;
  border: 0.01rem solid black;
}
.container .highestScoreContainer ol li {
  display: flex;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  flex-direction: column;
}
.container .highestScoreContainer ol li:not(:last-child) {
  border-bottom: 0.01rem solid black;
}
.container .highestScoreContainer ol li:hover {
  color: white;
  background-color: rgb(0, 0, 0);
}
.container .highestScoreContainer ol li .points {
  font-weight: normal;
}/*# sourceMappingURL=index.css.map */