
.resultContainer {
    padding: 1rem;
    border-radius: 1rem;
    margin: 1.5rem 0 5rem 0;
    border: 0.1rem solid black;
    background: linear-gradient(to bottom, rgba(49, 159, 29, 0.81),rgb(182, 182, 182),rgb(90, 8, 8));
    
    h1, h3 {
        text-decoration: underline;
    }
    
    h3 {
        font-size: 1.3rem;
    }
    h3, p {
        color: black;
    }
    
    p {
        margin-bottom: 1rem;
    }
    
    .userAnswerContainer {
        width: 24rem;
        margin: 1rem 0;
        padding: 1.8rem;
        font-size: 1.3rem;
        border-radius: 1rem;
        background-color: white;
        color: rgb(16, 105, 16);
        border: 0.01rem solid black;
        animation: fadeIn 0.6s ease-in;

     .correct, .incorrect {
         color: white;
         margin: 0.5rem;
         padding: 0.5rem;
         border-radius: 0.5rem;
         transition: 0.2s ease;
         border: 0.01rem solid black;
         
         &::marker {
             color: black;
            }
         
            &:hover {
             cursor: pointer;
             background-color: white;
            }
        }
    }  
    
    .correct {
        background-color: green;

        &:hover {
            color: green;
        }
    }

    .incorrect {

        background-color: red;

        &:hover {
            color: red;
        }
    }

    .score {
        color: blue;
       margin: 1rem 0;
       font-size: 1.8rem;
   } 
    
    .restartBtn, .scoreBtn, .quitBtn {
        color: white;
        margin: 0.3rem;
        padding: 0.2rem;
        font-size: 1rem;
        cursor: pointer;
        margin-bottom: 1rem;
        border-radius: 0.8rem;
        transition: 0.2s ease;
        background-color: black;
        
        &.restartBtn:hover {
            color:black;
            background-color: rgb(37, 165, 17);
        }

        &.scoreBtn:hover {
            color:black;
            background-color: rgb(208, 219, 12);  
        }

        &.quitBtn:hover {
            color:black;
            background-color: rgb(231, 21, 21);  
        }
    }   
    .correctAnswer {
        color: green;
    }
    
    .incorrectAnswer {
        background-color: red;
    }
    
}


@media screen and (max-width: 47.94rem) {
  
    .resultContainer {
        width: 23rem;

        
        .userAnswerContainer {
            width: 21rem;


            .correct {
                &:hover {
                    color: white;
                    background-color: green;

                    &:active {
                        background-color: white;
                        color: green;
                    }
                }
            }

            .incorrect {
                &:hover {
                    color: white;
                    background-color: red;

                    &:active {
                        background-color: white;
                        color: red;
                    }
                }
            }
        }
        .restartBtn, .scoreBtn, .quitBtn {
            border: none;
            font-size: 1.1rem;
        }
    }

}